*{
    box-sizing:border-box;
    font-family:Inter,system-ui,sans-serif;
}

body{
    margin:0;
    height:100vh;
    background:radial-gradient(circle,#3a0b66,#0a0014);
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

.game{
    width:380px;
    background:linear-gradient(180deg,#180026,#0a0014);
    padding:30px;
    border-radius:26px;
    text-align:center;
    box-shadow:0 0 70px rgba(160,60,255,.6);
}

h1{
    font-weight:800;
    color:#d8b4ff;
}

.stats,.currency{
    display:flex;
    justify-content:space-between;
    margin:12px 0;
}

span{
    color:#ffd6ff;
    font-weight:600;
}

#clickBtn{
    width:170px;
    height:170px;
    margin:20px auto;
    border-radius:50%;
    border:none;
    font-size:24px;
    font-weight:800;
    cursor:pointer;
    background:radial-gradient(circle,#c77dff,#7b2cbf);
    color:#14001f;
    box-shadow:0 0 40px #7b2cbf;
}

button{
    width:100%;
    margin-top:12px;
    padding:14px;
    border-radius:18px;
    background:#1e0033;
    border:1px solid #9d4edd;
    color:white;
    font-weight:600;
    cursor:pointer;
}

button:hover{
    background:#2b004d;
}
