*{font-family:Inter,sans-serif;box-sizing:border-box}

body{
  margin:0;
  min-height:100vh;
  display:flex;
  justify-content:center;
  padding:40px 0;
  background:#2b0040;
}

.bg-1{background:#2b0040}
.bg-2{background:#1a0033}
.bg-3{background:#003344}
.bg-4{background:#400000}

.game{
  background:#14001f;
  padding:30px;
  border-radius:20px;
  width:360px;
  color:white;
  text-align:center;
}

.stats{display:flex;justify-content:space-between}

#clickBtn{
  width:180px;
  height:180px;
  border-radius:50%;
  font-size:28px;
  background:orange;
  margin:20px auto;
}

button{
  width:100%;
  padding:14px;
  margin:6px 0;
  border:none;
  border-radius:14px;
  cursor:pointer;
}

.modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.7);
  justify-content:center;
  align-items:center;
}

.casino-box{
  background:#220033;
  padding:20px;
  border-radius:20px;
  width:300px;
  text-align:center;
}

.casino-buttons{display:flex;gap:10px}
.red{background:red}
.black{background:black;color:white}
